.selector{
    width: 20%;
    height: calc(100vh - 120px);
    padding: 50px;
    padding-left: 100px;
    display: flex;
    justify-content: right;
}
.pagination{
    width: calc(80% - 100px);
    height: calc(100vh - 120px);
    padding: 50px;
    overflow-y: scroll;
}

.main{
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;

    
    color: #13377D;
    background: #F4F7FD;
    border: 1px solid #13377D;
    border-radius: 8px;
    transition: 0.3s;
}

.upload{
    display: flex;
    flex-direction: column;
    gap:25px;
    padding-top: 210px;
    justify-content: center;
    align-items: center;
}

.history{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    padding: 120px;
}

.fileCard{
    background: #F4F7FD;
    box-shadow: inset 0px -1px 0px #F0F0F0;
    width: 240px;
    height: 120PX;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #13377D;
    cursor: pointer;
}

.tools{
    display: flex;
    flex-direction: row;
    gap:25px;
    justify-content: left;
    
}